.osp-main-intro {
    display: flex;
    padding: 2vmax;
}

.user-osp-main-box {
    width: 30%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.osp-intro {
    width: 70%;
    padding: 1vmax;
    display: flex;
    flex-direction: column;
}

.osp-tags-box {
    width: 50%;
    padding: 1.5vmax;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tag-span {
    background-color: rgba(128, 128, 128, 0.179);
    padding: 0.3vmax;
    border-radius: 6px;
    margin:0.5vmax ;
}

.osp-description-box {
    padding: 3vmax;
}

.osp-description {
    padding: 2vmax;
    margin: 1vmax;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.23);
}


#commentBox {
    width: 70%;
    border:none;
    border-bottom: 1px solid black;
    outline:none;
    padding: 1vmax;
}
.comment-button{
    background-color: transparent;
    border: none;
    background-color: black;
    color: white;
    padding: 1vmax;
    border-radius: 10%;
}

.my-comment-box {
    width: 100%;
    padding: 1vmax;
    /* justify-content: space-around; */
}

.osp-comment-box {
    padding: 2vmax;
}

.osp-comments-commmunity {
    padding: 0vmax;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.each-comment {
    padding: 1vmax;
    margin: 0.2vmax;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.418); */
}