.exp-ed-box{
    width: 100%;
height: 100%;
}
.inputs-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100% !important;
    align-items: center;
    justify-content: center;
}
.correct-icon{
    background-color: aquamarine;
    height: 1vmax;
    width: 1vmax;
    padding: 0.2vmax;
    border-radius: 50px;

}