@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Oswald&display=swap');

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.js-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.t-up {
  text-transform: uppercase;
}

.text-main-color {
  color: #212529;
}

.fl-lt {
  float: left;
}
.mt-2{
  margin-top: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mr-4 {
  margin-right: 1rem;
}

.cur-point {
  cursor: pointer;
}
